PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/portfolio?retryWrites=true&w=majority
JWT_SECRET=your_super_secret_jwt_key_change_this
mailID=jamnishan345@gmail.com
pass=your_gmail_app_password
CLIENT_URL=https://www.shantechworld.com
